.mainInfos {
  margin-top: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  display: flex;
}
.page h2 {
  font-size: 19px;
  font-weight: 600;
}

.heading {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #faffef;
}

.heading h2 {
  font-size: 20px;
  font-weight: 700;
}

.headSpan {
  color: #ffbb15;
}

.heading > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading button {
  width: 10rem;
  padding: 17px 32px;
  cursor: pointer;
  background: #ffbb15;
  border: 1px solid #ffbb15;
  border-radius: 5px;
  transition: all 600ms ease;
}

.heading button:hover {
  opacity: 0.8;
}
.heading img {
  object-fit: contain;
  width: 85%;
}

.prerequisites,
.moduleContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.materials {
  display: flex;
  gap: 10px;
}

.learn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding-left: 10px;
}

.tools {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.tools img {
  width: 60px;
  height: auto;
}

.materialContent {
  padding-left: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 700px) {
  .heading {
    grid-template-columns: 1fr;
  }

  .heading img {
    width: 100%;
  }

  .learn {
    grid-template-columns: 1fr;
  }

  .materialContent {
    gap: 6px;
    flex-direction: column;
  }
  .tools {
    font-size: 60%;
  }
}
