.programsBody {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}

.programsBody h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.programsBody h2 span {
  color: #ffbb15;
}

.programsBody .courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 900px) {
  .programsBody h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .programsBody h2 {
    font-size: 1.5rem;
  }

  .programsBody .courses img {
    height: 10rem;
  }
}
