/* Fullscreen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* dim background, can remove if not needed */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* stays above everything */
}

/* Spinner */
.spinner {
  width: 80px; /* bigger */
  height: 80px;
  border: 10px solid #ffbb15;
  border-top: 10px solid #faffef;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
